<ion-modal trigger="{{ idTrigger }}">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Annuler</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content scroll-y="false" class="ion-padding">
      <app-profile-card
        idCard="toggle-theme"
        [haveToggle]=true
        title="Thème"
        description="Changer le thème de l'application"
        iconName="bookmarks">
      </app-profile-card>
    </ion-content>
  </ng-template>
</ion-modal>
